<html>
    <head>
        <title>App - Home</title>
        <meta charset="utf-8">
        <style>
            .menu{
                background-color:white;
                width:600px;
                height:600px;
                margin:auto;
                border: 3px solid black;
                border-radius:10px;
                box-shadow: 3px 3px 3px black;
            }
            .Pedidos{
                text-align:center
            }
            body{
                background-color:aliceblue;
            }
        </style>
    </head>
    <body>
        <div class="screen">
            <div class="menu">
                <div class="Name">
                    <h1 style="text-align:center">Bem-vindo</h1>
                </div>
                <div class="Pedidos">
                    <form method="GET">
                        <label>Email : <input type="text" placeholder="Email"></label><br><br>
                        <label>Senha : <input type="password" placeholder="Senha"></label><br><br>
                        <button type="submit">Entrar</button>
                    </form>
                    <a href="/register">Não tem conta ?</a>
                </div>
            </div>
        </div>
    </body>
</html>